---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title= "tbd">

	<h1 class = "text-6xl">Welcome to your online library</h1>

	<textarea class="textarea textarea-success" placeholder="Step 1 Save your books"></textarea>
	<textarea class="textarea textarea-success" placeholder="Step 2 Look for books you would like to read"></textarea>
	<textarea class="textarea textarea-success" placeholder="Step 3 exchange a book for another one for a determined time"></textarea>

</Layout>

