---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---	

<Layout title= "tbd">

	<h1 class = "text-6xl">Welcome to your online library</h1>

<h1 class="input bordered bg-primary 50px" >Step 1 Save your books</h1>
<h1 class="input bordered bg-primary 50px" >Step 2 Look for books you would like to read</h1>
<h1 class="input bordered bg-primary 50px" >Step 3 exchange a book for another one for a determined time</h1>


<a href="/books" class = "link-primary">Start now	</a>
</Layout>
