---
import ButtonPlusSvelte from "../components/ButtonPlusSvelte.svelte";
import Layout from "../layouts/Layout.astro"
---

<Layout title="ma page">
    <h1 class="badge badge-outline">hello</h1> 

    <h2>Voici le composant Svelte</h2>

    <ButtonPlusSvelte client:load/>
</Layout>

