---
import ButtonPlusSvelte from "../components/ButtonPlusSvelte.svelte";
import Layout from "../layouts/Layout.astro"

//import { pb } from  "../pocketbase";
import PocketBase from 'pocketbase';
//import eventsource from 'eventsource';

//global.EventSource = eventsource;

const pb = new PocketBase('https://backendpblivres.hop.sh');
console.log("HEureux quand meme jfq^pfpsj");
try {
  const result = await pb.collection('books').getList(1, 2);
  console.log('Result:', result);
  console.log('Casser tout casser vraiment tout casser');
  
} catch (error) {
  console.log('Error:', error);
  console.log("HEureux quand meme jfq^pfpsj");
  
}
---

<Layout title="ma page">
    <h1 class="badge badge-outline">hello</h1> 

    <h2>Voici le composant Svelte</h2>

    <ButtonPlusSvelte client:load/>
</Layout>

<script>

  console.log("HEureux quand meme jfq^pfpsj");
</script>