---
import Layout from '../layouts/Layout.astro';
---	

<Layout title= "ReadCycle">
	<h1 class = "text-6xl">Welcome to your online library</h1>
  <div class="flow-root">
    <h1 class="text-xl input bordered bg-primary my-5 mx-5 indent-40" >Step 1 Save your books</h1>
    <h1 class="text-xl input bordered bg-primary mb-5 mx-5 indent-20" >Step 2 Look for books you would like to read</h1>  
    <h1 class="text-xl input bordered bg-primary mb-5 mx-5">Step 3 exchange a book for another one for a determined time</h1>
  </div>
  <a href="/books" class = " text-2xl link-primary">Start now	</a>
</Layout>


