--- 
import {ViewTransitions} from 'astro:transitions';
import Header from '../components/Header.svelte';
interface Props {
	title: string;
}

const { title } = Astro.props; 

const locals = Astro.locals;
const data = locals.pb.authStore;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		</head>
	<body class="bg-base-1OO">
    <Header userData={data}/>

		<main class="flex flex-col w-full place-items-center">
			<slot/>
		</main>
		
	</body>
</html>

